@import "../../mixins/mixin.breakpoints.scss";

$border-radius: 28px;

#Pokedex {    
    margin-top: 1em;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;    
    
    .header {
        display: flex;
        flex-direction: row;             
        justify-content: space-around;        
        align-items: center;        
               
        .return {            
            padding: 0 1.1em;
            height: 100%;
            background: #566CD6;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .search-bar {            
            align-self: flex-end;           
            justify-items: flex-end; 
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;
            @include responsive {
                padding-left: 10px;
            }
        }
    }
}